<% if @pictures.empty? %>
  <p class="text-gray-600">Er zijn geen beelden</p>
<% else %>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
    <% @pictures.each do |picture| %>
      <% if picture.image.attached? %>
        <div class="flex flex-col justify-end">
           <%= link_to picture_path(picture) do %>
             <%= image_tag picture.image.variant(resize_to_limit: [1200, 800]), class: "w-full object-cover" %>
           <% end %>
           <h3 class="text-lg font-semibold"><%= picture.title %></h3>
           <% if user_signed_in? && !picture.visible %>
             <p class="text-gray-600 font-bold">Onzichtbaar</p>
           <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
