<h1 class="text-3xl font-bold mb-8">Beelden getagd met "<%= @tag.name %>"</h1>

<% if @pictures.empty? %>
  <p class="text-gray-600">Er zijn geen beelden voor deze tag</p>
<% else %>
  <% @pictures.each do |picture| %>
    <% if picture.image.attached? %>
      <div class="mb-8">
        <%= link_to picture_path(picture) do %>
          <%= image_tag picture.image.content_type == "image/svg+xml" ? picture.image : picture.image.variant(resize_to_limit: [1200, 800]), class: "w-full object-cover" %>
        <% end %>
        <h3 class="text-lg font-semibold"><%= picture.title %></h3>
        <% if user_signed_in? && !picture.visible %>
          <p class="text-gray-600 font-bold">Onzichtbaar</p>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
